body {
  margin: 0;
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  background: #000000 url(../img/background.png) no-repeat center top;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000; 
}

.main-navigation {
  width: 780px;
  float: left;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #242424;
}

.main-navigation .active {
  position: relative;
  background-color: none; 
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 5px;
  background-color: #ffffff;
}

.main-navigation .active a:hover {
  background: none;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: -4px -1px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px; 
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  color: #000000;
  background: url(../img/index-content-shadow.png) no-repeat center, 
  #f8f5f2 url(../img/background-white.jpg);
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url(../img/background-black.jpg);
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-copyright { 
  float: right;
  max-width: 180px;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url("../img/sprites.png") no-repeat center;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background-position: -36px -188px;
}

.social-btn-fb {
  background-position: -30px -287px;
}

.social-btn-inst {
  background-position: -38px -240px;
}

.social-btn-vk:hover {
  background-position: 9px -185px;
}

.social-btn-fb:hover {
  background-position: 11px -286px;
}

.social-btn-inst:hover {
  background-position: 11px -236px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;

  background-color: #ffffff;
}

.modal-content {
  position: absolute;
  top: 120px;
  left: 50%;
  display: none;
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
  color: #000000;
  background: #f8f3f0 url("../img/background-white.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-map {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  display: none;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;
  background: #e9e5dc url("../img/map-static.jpg");
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 241px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 15px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: 115% -140px;
}

.login-form input.icon-password {
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: 115% -85px;
}

.login-form .restore {
  float: right;
  color: #000000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

/*item-page*/

.inner {
  color: #000000;
  background: #f8f3f0 url(../img/background-white.jpg) repeat;
}

.inner header {
  margin-bottom: 50px;
}

.contain-header {
  margin-bottom: 53px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline;
  vertical-align: top;
  position: relative;
  padding-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 18px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg); 
}

.breadcrumbs a {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs .current::after {
  display: none;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.item-title,
.price-title,
.shop-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  margin-bottom: 16px;
}

.item-content-left {
  float: left;
  width: 460px;
  padding-right: 20px;
  font-size: 0;
}

.product-image-main {
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.product-image-main img,
.product-image img {
  margin-bottom: -12px;
}

.product-image {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.product-image:nth-child(4n) {
  margin-right: 0;
}

.item-content-right {
  float: right;
  width: 390px;
  padding-left: 10px; 
}

.item-wrap {
  padding-top: 19px;
  margin-bottom: 29px;
}

.item-state {
  float: left;
}

.item-articul {
  float: right;
  padding-right: 10px;
  color: #aeaeae;
}

.item-description {
  margin-bottom: 36px;
}

.item-composition-title,
.price-title-small {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
}

.item-buy {
  font-size: 0;
  margin-bottom: 61px;
}

.item-price {
  display: inline-block;
  padding: 10px 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  background-color: #e5e5e5;
}

.item-buy .btn {
  display: inline-block;
  padding: 10px 18px;
}

.item-composition-title {
  margin-bottom: 27px;
}

.item-composition ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-composition li {
  position: relative;
  padding-left: 21px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.item-composition li::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 9px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  transform: rotate(45deg);
}

.inner footer {
  margin-top: 50px;
  padding-top: 56px;
}

/*shop-page*/

.logo-nav {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 24px;
}

.main-navigation .logo-nav img {
  width: 111px;
  height: 20px;
}

.main-navigation .logo-nav:hover {
  background: none;
}

.shop-column-left {
  float: left;
  width: 220px;
}

.sort fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  border: none;
}

.sort fieldset:first-child {
  margin-top: -6px;
}

.sort legend {
  margin-bottom: 29px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.sort input[type="checkbox"],
.sort input[type="radio"] {
  display: none;            
}

.sort input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  display: block;
  margin-bottom: 19px;
  padding-left: 44px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.sort input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
}

.sort input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 3px;
  width: 12px;
  height: 12px;
  background-image: url(../img/sprites.png);
  background-position: -55px -55px;
}

.sort input[type="checkbox"]:checked + label:hover,
.sort input[type="checkbox"] + label:hover {
  color: #663d15;
}

.sort input[type="checkbox"]:checked:disabled + label,
.sort input[type="checkbox"]:disabled + label {
  color: #c0bdbb;
}

.sort input[type="checkbox"]:checked:disabled + label::after,
.sort input[type="checkbox"]:disabled + label::after {
  opacity: 0.3;
}

.sort input[type="checkbox"]:checked:disabled + label::before,
.sort input[type="checkbox"]:disabled + label::before {
  border-color: #c0bdbb;
}

.sort input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  display: block;
  margin-bottom: 19px;
  padding-left: 44px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.sort input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.sort input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 5px;
  width: 8px;
  height: 8px;
  background-image: url(../img/sprites.png);
  background-position: -7px -58px;
}

.sort input[type="radio"]:checked + label:hover,
.sort input[type="radio"] + label:hover {
  color: #663d15;
}

.sort input[type="radio"]:checked:disabled + label,
.sort input[type="radio"]:disabled + label {
  color: #c0bdbb;
}

.sort input[type="radio"]:checked:disabled + label::after,
.sort input[type="radio"]:disabled + label::after {
  opacity: 0.3;
}

.sort input[type="radio"]:checked:disabled + label::before,
.sort input[type="radio"]:disabled + label::before {
  border-color: #c0bdbb;
}

.sort .btn {
  padding-right: 29px;
  padding-left: 29px; 
}

.shop-column-right {
  float: right;
  width: 700px;
  padding-left: 10px;
}

.product {
  margin-bottom: 26px;
}

.product ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.product li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.product li:nth-child(3n) {
  margin-right: 0;
}

.product a {
  display: block;
  text-decoration: none;
}

.product-name {
  margin: 0;
  margin-bottom: 12px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: left;
  padding-left: 17px;
}

.product-name b {
  text-transform: none;
  display: block;
}

.product .item-buy {
  margin: 0 16px 16px 16px;
  margin-right: 0;
}

.paginator {
  font-size: 0;
}

.paginator a {
  display: inline-block;
  margin-right: 7px;
  padding: 12px 18px;
  background-color: #000000; 
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.paginator a:last-child {
  margin-right: 0;
}

.paginator .current {
  background-color: #ffffff;
  color: #000000;
}

.paginator a:hover {
  background-color: #663d15;
}

.paginator .current:hover {
  background-color: #ffffff;
  color: #000000;
}

/*price-page*/

.price .contain-header {
  margin-bottom: 45px;
}

.price-content {
  margin-bottom: 47px;
}

.price-content:last-child {
  margin-bottom: 0;
}

.title-wrap {
  margin-bottom: 59px;
  text-align: center;
}

.title-wrap b {
  position: relative;
  display: inline;
  z-index: 2;
  margin: 0;
  padding: 0 25px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #f8f3f0 url(../img/background-white.jpg) repeat;
}

.title-wrap::after {
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  top: -25px;
  border-bottom: 2px solid #000000; 
}

.price-column-left,
.price-column-right {
  width: 460px;
}

.price-column-left {
  float: left;
}

.price-column-left ul {
  margin-top: -7px;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}

.price-column-left li {
  position: relative;
  margin-bottom: 13px;
  padding-left: 20px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.price-column-left li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}

.price-column-right {
  float: right;
}

.price-column-right table {
  width: 100%;
  border-collapse: collapse;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.price-column-right td {
  width: 50%;
  padding: 8px 19px;
  border: 2px solid #000000;
}

.price-column-right td:last-child {
  text-align: center;
}

.price-title-small {
  margin-top: 0;
  margin-bottom: 33px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.price-title-small-inner {
  margin-top: 0;
  margin-bottom: 26px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.price-content p {
  margin: 0;
  padding-right: 83px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.main-footer.price-footer {
  margin-top: 80px;
}