body {
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  background: #000000 url(img/index/background.png) no-repeat center top;
}

.item-title,
.price-title,
.shop-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
}

.index-content-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
}

.item-composition-title,
.price-title-small {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
}